apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-ingress
spec:
  ingressClassName: nginx
  rules:
    - host: "app.com"
      http: 
        paths:
        - pathType: Prefix
          path: /
          backend: 
            service:
              name: pythweb-service
              port:
                number: 80