apiVersion: v1
kind: Service
metadata:
  name: pythweb-service
spec:
  ports:
    - port: 80
      name: web
  selector:
    app: python-web 
#  externalTrafficPolicy: Local
  type: ClusterIP
#  clusterIP: 10.96.200.100