apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pv-claim
  label:
    app: postgres
    type: local
spec:
  storageClassName: local-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi